{%extends "base.html" %}
{%block title%}Console{%endblock%}

{%block content%}

<div id="console-box" class="mx-auto my-3" style="max-width: 35rem;">
  <h3>OUTPUT CONSOLE</h3>
  <div id="output-text" class="mx-auto my-3 px-3 py-2 outlined-rnd"></div>
  <div class="input-group">
    <input class="form-control mx-2" id="cmd-input" placeholder="Enter a command" />
    <span class="input-group-btn">
      <button class="btn outlined mx-2"
        onclick="onSendCommand()"
      >Send</button>
      <button class="btn btn-danger mx-2"
        onclick="onClearConsole()"
      >Clear</button>
    </span>
  </div>
</div>

<script src="../static/js/console.js"></script>

{%endblock%}