{%extends "base.html" %}
{%block title%}Console{%endblock%}

{%block content%}

<div id="console-box" class="mx-auto my-3" style="max-width: 35rem;">
  <h3>Output Console</h3>
  <div id="output-text" class="mx-auto my-3 px-3 py-2 outlined-rnd"></div>
  <div class="input-group">
    <button id="atscroll-btn" class="btn btn-outline-secondary" onclick="toggleAutoScroll()">
    </button>
    <input class="form-control" id="cmd-input" placeholder="Enter a command" />
    <button class="btn btn-outline-secondary" onclick="onSendCommand()">
      Send
    </button>
    <button class="btn btn-danger" onclick="onClearConsole()">
      Clear
    </button>
  </div>
</div>

<script src="../static/js/console.js"></script>

{%endblock%}