{%extends "base.html" %}
{%block title%}Control{%endblock%}

{%block content%}

<style>
  .ctrl-btn {
    width: 2.5rem;
    width: 2.5rem;
    margin: 0.5rem;
  }

  #info-box {
    min-height: 10rem;
    padding: 0.8rem;
  }

  #file-btn {
    
  }
</style>

<div class="mx-auto my-3" style="max-width: 35rem;">
  <h3>Control Panel</h3>

  <!------------Info Box------------->
  <div id="info-box" class="outlined-rnd">
    <div>Some Info</div>
    <div>More Info</div>
  </div>

  <!----------Control buttons----------->
  <div class="row my-4">
    <div class="col-6">
      <div class="row justify-content-center">
        <button class="btn btn-outline-dark ctrl-btn">U</button>
      </div>
  
      <div class="row justify-content-center">
        <button class="btn btn-outline-dark ctrl-btn">L</button>
        <button class="btn btn-outline-dark ctrl-btn">M</button>
        <button class="btn btn-outline-dark ctrl-btn">R</button>
      </div>
  
      <div class="row justify-content-center">
        <button class="btn btn-outline-dark ctrl-btn">D</button>
      </div>
    </div>

    <div class="col-6">
      <div class="row justify-content-center">
        <button class="btn btn-outline-dark ctrl-btn">U</button>
      </div>
  
      <div class="row justify-content-center">
        <button class="btn btn-outline-dark ctrl-btn">L</button>
        <button class="btn btn-outline-dark ctrl-btn">M</button>
        <button class="btn btn-outline-dark ctrl-btn">R</button>
      </div>
  
      <div class="row justify-content-center">
        <button class="btn btn-outline-dark ctrl-btn">D</button>
      </div>
    </div>
  </div>


  <!------------Run from file-------------->
  <div class="row justify-content-center">
    <button id="file-btn" class="btn btn-success">Select a .lgcode file</button>
  </div>
    
</div>

<script src="../static/js/control.js"></script>

{%endblock%}