{%extends "base.html" %}
{%block title%}Control{%endblock%}

{%block content%}

<div class="mx-auto my-3" style="max-width: 35rem;">
  <h3>Control Panel</h3>

  <!-------------Tabs-------------->
  <div class="mt-2">
    <div class="btn-group mb-1" role="group" aria-label="Control Mode">
      <button id="position-btn" type="button" class="btn btn-primary" style="color: white;">Position</button>
      <button id="angle-btn" type="button" class="btn btn-primary" style="color: white;">Angle</button>
      <button id="file-btn" type="button" class="btn btn-primary" style="color: white;">File</button>
    </div>

    <!----------Control buttons----------->
    <div id="position-tab" class="outlined-rnd p-3 mx-auto">
      <div class="row">
        <!--Left-->
        <div class="col-12 col-sm-6">
          <div class="row justify-content-center">
            <button class="btn btn-outline-dark ctrl-btn">U</button>
          </div>
      
          <div class="row justify-content-center">
            <button class="btn btn-outline-dark ctrl-btn">L</button>
            <button class="btn btn-outline-dark ctrl-btn">M</button>
            <button class="btn btn-outline-dark ctrl-btn">R</button>
          </div>
      
          <div class="row justify-content-center">
            <button class="btn btn-outline-dark ctrl-btn">D</button>
          </div>
        </div>

        <!--Right-->
        <div class="col-12 col-sm-6">
          <div class="row justify-content-center">
            <button class="btn btn-outline-dark ctrl-btn">U</button>
          </div>
      
          <div class="row justify-content-center">
            <button class="btn btn-outline-dark ctrl-btn">L</button>
            <button class="btn btn-outline-dark ctrl-btn">M</button>
            <button class="btn btn-outline-dark ctrl-btn">R</button>
          </div>
      
          <div class="row justify-content-center">
            <button class="btn btn-outline-dark ctrl-btn">D</button>
          </div>
        </div>
      </div>
    </div>


    <!-----------Stepper Angles------------->
    <div id="angle-tab" class="outlined-rnd p-3">
      <h4>Stepper Angles</h4>
    </div>

    <!------------Run from file-------------->
    <div id="file-tab" class="outlined-rnd p-3">
      <h4>Files</h4>
      
      <div>
        <div class="container" style="height: 38px;">
          <strong><span id="cur-file-text">No file is selected...</span></strong>
          <button id="desel-btn" class="btn" hidden style="margin-left: 0.5rem;" onclick="onDeselectFile();"><i class="bi bi-eraser-fill"></i></button>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 col-sm-6">
            <button id="select-file-btn" class="btn btn-outline-success w-100 my-1" onclick="onSelectBtnClick();">Select a .lgcode file</button>
            <input id="select-file-input" type="file" onchange="onSelectFile();" />
          </div>
          <div class="col-12 col-sm-6">
            <button id="upload-btn" class="btn btn-success w-100 my-1" style="color: white;" onclick="onUploadFile();">Upload File</button>
          </div>
        </div>
    
        <div class="row justify-content-center">
          <div class="col-12 col-sm-6">
            <button id="run-file-btn" class="btn btn-primary w-100 my-1" disabled
              onclick="runFile();" style="color: white;">Run File</button>
          </div>
          <div class="col-12 col-sm-6">
            <button id="stop-file-btn" class="btn btn-danger w-100 my-1" disabled
              onclick="stopFile();">Stop</button>
          </div>
        </div>
      </div>

      <div id="myfiles-ls" class="mt-3">
      </div>
    </div>
  </div>



  <!------------Info Box------------->
  <div id="info-box" class="outlined-rnd mt-4">
  </div>
    
</div>

<script src="../static/js/control.js"></script>

{%endblock%}