{%extends "base.html" %}
{%block title%}Preview{%endblock%}

{%block content%}
<script src="https://cdn.plot.ly/plotly-2.0.0-rc.3.min.js"></script>
<script src="https://d3js.org/d3.v6.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vis-graph3d@latest/dist/vis-graph3d.min.js"></script>

<div class="mx-auto my-3" style="width: 520px;">
    <h3>PREVIEW</h3>
    <div id="plot" class="outlined-rnd">

    </div>
</div>

<script src="../static/js/preview.js"></script>
{%endblock%}