.ctrl-btn {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
}

#info-box {
    min-height: 10rem;
    padding: 0.8rem;
}

#select-file-input {
    display: none;
}

#select-file-btn:hover {
    color: white;
}

$myfiles-ls-shade: #dfdfdf;
.myfiles-ls-item {
    height: 2.6rem;
    padding: 0.4rem;
    border-bottom: solid $myfiles-ls-shade 1px;
}

.myfiles-ls-item:hover {
    background-color: $myfiles-ls-shade;
    cursor: pointer;
}

.myfiles-ls-del-btn {
    margin: 0;
}