@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

.btn.outlined {
    border: solid #aaa 1px;
}

.outlined-rnd {
    border: solid #aaa 1px;
    border-radius: 10px;
}

.hidden {
    overflow: hidden;
}

.navbar-brand {
    font-family: 'GFS Didot', serif;
}

#output-text {
    height: 25rem;
    overflow-x: auto;
    overflow-y: scroll;
    background: #3d4347;
    color: #ededed;
}
